.outer-ring {
  background: papayawhip;
  border-radius: 50px;
  border: 1px solid black;
  height: 20px;
  position: relative;
  width: 40px;
}

.inner-circle {
  background: #f68819;
  border-radius: 50px;
  height: 18px;
  left: 0;
  position: absolute;
  transition: 0.2s;
  width: 20px;
  height: 20px;
}

.toggled {
  left: 18px;
}

.basic-calculator {
  display: flex;
  flex-direction: row;
}

form,
.results {
  display: flex;
  flex-direction: column;
  border: 1px solid green;
  padding: 5px;
  margin: 10px;
}

.label {
}
